@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web





@{

						
var selection1 = Model.Content.Site().Children.Where(x => x.DocumentTypeAlias == "articlesOverview").First()
.Children().OrderBy("CreateDate desc");
}



@if (selection1.Count() > 0)
{
    <ul>
        @foreach (var item in selection1)
        {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
}