<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articlesItems ANY>
<!ATTLIST articlesItems id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1075" key="b7cf86ec-7376-4859-b8de-5364a5d5a770" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-02-12T10:51:32" updateDate="2019-04-07T21:22:09" nodeName="Home Page" urlName="home-page" path="-1,1075" isDoc="" nodeType="1055" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1054" nodeTypeAlias="homePage" isPublished="true">
    <metaKeywords><![CDATA[Projects]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <metaDescription><![CDATA[Homepage]]></metaDescription>
    <title><![CDATA[Home]]></title>
    <mainContent><![CDATA[<p>Home</p>]]></mainContent>
    <footer><![CDATA[Lars' home]]></footer>
    <articlesOverview id="1076" key="8f919887-e9b6-44c7-a7e0-3b46e4d33038" parentID="1075" level="2" creatorID="0" sortOrder="1" createDate="2019-02-12T11:08:43" updateDate="2019-02-26T10:06:25" nodeName="Articles" urlName="articles" path="-1,1075,1076" isDoc="" nodeType="1059" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1058" nodeTypeAlias="articlesOverview" isPublished="true">
      <metaKeywords><![CDATA[Articles]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <metaDescription><![CDATA[Articles]]></metaDescription>
      <articlesBodyText><![CDATA[<p>Here are some awesome articles</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Awesome Articles]]></articlesTitle>
      <articlesItems id="1077" key="d89b3b5a-a938-47e9-8f85-1b1868cb7d5f" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2019-02-12T11:09:44" updateDate="2019-02-26T09:32:35" nodeName="Article 1" urlName="article-1" path="-1,1075,1076,1077" isDoc="" nodeType="1061" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1060" nodeTypeAlias="articlesItems" isPublished="true">
        <metaKeywords><![CDATA[articles 1]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <metaDescription><![CDATA[Article 1]]></metaDescription>
        <articleContent><![CDATA[<p>article 1</p>]]></articleContent>
        <articleTitle><![CDATA[Article 1]]></articleTitle>
      </articlesItems>
      <articlesItems id="1111" key="9207f40c-ef0d-48a3-80eb-b93f9b055262" parentID="1076" level="3" creatorID="0" sortOrder="2" createDate="2019-04-07T20:52:24" updateDate="2019-04-07T20:52:25" nodeName="A genuine Article" urlName="a-genuine-article" path="-1,1075,1076,1111" isDoc="" nodeType="1061" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1060" nodeTypeAlias="articlesItems" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleContent><![CDATA[<p>A super fun article</p>]]></articleContent>
        <articleTitle><![CDATA[A genuine article]]></articleTitle>
      </articlesItems>
    </articlesOverview>
    <projectsOverview id="1078" key="ec1d7ef3-a700-4191-aa82-354d64db4013" parentID="1075" level="2" creatorID="0" sortOrder="2" createDate="2019-02-12T11:10:37" updateDate="2019-04-07T20:31:14" nodeName="ProjectsOverview" urlName="projectsoverview" path="-1,1075,1078" isDoc="" nodeType="1063" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1062" nodeTypeAlias="projectsOverview" isPublished="true">
      <metaKeywords><![CDATA[projects]]></metaKeywords>
      <umbracoNaviHide>1</umbracoNaviHide>
      <metaDescription><![CDATA[Projects]]></metaDescription>
      <projectsBodyText><![CDATA[<p>Here are some awesome projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Awesome projects]]></projectsTitle>
      <projectItem id="1079" key="5680c89a-836f-4664-933f-fcff51dfbb85" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2019-02-12T11:11:09" updateDate="2019-04-07T20:30:34" nodeName="project 1" urlName="project-1" path="-1,1075,1078,1079" isDoc="" nodeType="1065" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1064" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[project1]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <metaDescription><![CDATA[Procjet 1]]></metaDescription>
        <projectDescription><![CDATA[<p>Project 1</p>]]></projectDescription>
        <projectStatus>20</projectStatus>
        <projectTitle><![CDATA[Project 1]]></projectTitle>
      </projectItem>
      <projectItem id="1083" key="c03a744e-14fc-434e-b791-f92e7d0caa57" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2019-02-26T11:44:55" updateDate="2019-02-26T11:45:24" nodeName="project 2" urlName="project-2" path="-1,1075,1078,1083" isDoc="" nodeType="1065" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1064" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[project2]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <metaDescription><![CDATA[Procjet 2]]></metaDescription>
        <projectDescription><![CDATA[<p>Project 2</p>]]></projectDescription>
        <projectStatus>20</projectStatus>
        <projectTitle><![CDATA[Project 2]]></projectTitle>
      </projectItem>
      <projectItem id="1112" key="dd56dc0f-6f49-4d2f-bff3-01b947a8eb0e" parentID="1078" level="3" creatorID="0" sortOrder="3" createDate="2019-04-07T20:53:00" updateDate="2019-04-07T21:03:51" nodeName="Project 3" urlName="project-3" path="-1,1075,1078,1112" isDoc="" nodeType="1065" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1064" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>project 3</p>]]></projectDescription>
        <projectStatus>20</projectStatus>
        <projectTitle><![CDATA[Project 3]]></projectTitle>
      </projectItem>
    </projectsOverview>
    <sitemap id="1082" key="029bb765-cd9d-4bf0-952e-44cb893360a4" parentID="1075" level="2" creatorID="0" sortOrder="3" createDate="2019-02-26T09:58:15" updateDate="2019-02-26T10:00:19" nodeName="Sitemap" urlName="sitemap" path="-1,1075,1082" isDoc="" nodeType="1081" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1080" nodeTypeAlias="sitemap" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </sitemap>
    <contactPage id="1086" key="463ffbb4-813e-4cbe-8f88-e82b46d60cba" parentID="1075" level="2" creatorID="0" sortOrder="4" createDate="2019-03-08T09:23:55" updateDate="2019-03-12T10:58:50" nodeName="Contact Page" urlName="contact-page" path="-1,1075,1086" isDoc="" nodeType="1085" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1084" nodeTypeAlias="contactPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <message id="1093" key="e63c27b4-acb0-43f4-9179-3fe33d28c820" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2019-04-07T19:20:52" updateDate="2019-04-07T19:25:58" nodeName="asd" urlName="asd" path="-1,1075,1086,1093" isDoc="" nodeType="1092" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="0" nodeTypeAlias="message" isPublished="true">
        <messageContent><![CDATA[asdasda]]></messageContent>
        <subject><![CDATA[asd]]></subject>
        <messageName><![CDATA[asd]]></messageName>
        <email><![CDATA[asd@gmail.com]]></email>
      </message>
      <message id="1094" key="d7beb92b-a775-4367-8af6-478f638fc2cc" parentID="1086" level="3" creatorID="0" sortOrder="1" createDate="2019-04-07T19:22:34" updateDate="2019-04-07T19:22:35" nodeName="msg" urlName="msg" path="-1,1075,1086,1094" isDoc="" nodeType="1092" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="0" nodeTypeAlias="message" isPublished="true">
        <messageContent><![CDATA[asd]]></messageContent>
        <subject><![CDATA[asd]]></subject>
        <messageName><![CDATA[asd]]></messageName>
        <email><![CDATA[asd@gmail.com]]></email>
      </message>
    </contactPage>
    <textPage id="1087" key="706f9140-c42d-446b-a61b-29cd0e325875" parentID="1075" level="2" creatorID="0" sortOrder="5" createDate="2019-04-07T18:34:54" updateDate="2019-04-07T18:35:33" nodeName="About Us" urlName="about-us" path="-1,1075,1087" isDoc="" nodeType="1057" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1056" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>Copyright Lars Høeg</p>]]></mainContent>
      <header><![CDATA[About Us]]></header>
    </textPage>
    <login id="1109" key="6008f8c8-b161-4faf-854c-7be62417220f" parentID="1075" level="2" creatorID="0" sortOrder="6" createDate="2019-04-07T19:53:44" updateDate="2019-04-07T19:53:45" nodeName="Login" urlName="login" path="-1,1075,1109" isDoc="" nodeType="1108" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1107" nodeTypeAlias="login" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <textPage id="1110" key="18affdb1-ec27-4080-8154-cabd323df9cc" parentID="1075" level="2" creatorID="0" sortOrder="7" createDate="2019-04-07T20:27:39" updateDate="2019-04-07T20:27:58" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1075,1110" isDoc="" nodeType="1057" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1056" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
      <mainContent><![CDATA[<p>You need to login to view this page</p>]]></mainContent>
      <header><![CDATA[Forbidden Access]]></header>
    </textPage>
    <members id="1115" key="2a085435-2a05-410d-ada3-e078571afd60" parentID="1075" level="2" creatorID="0" sortOrder="8" createDate="2019-04-07T21:14:22" updateDate="2019-04-07T21:25:35" nodeName="Members" urlName="members" path="-1,1075,1115" isDoc="" nodeType="1114" creatorName="Lars Høeg" writerName="Lars Høeg" writerID="0" template="1113" nodeTypeAlias="members" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
</root>